[Unit]
Description=DFS to CERNBox daemon
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/log/dfs2cernboxd
ExecStart=/usr/local/bin/dfs2cernboxd
StandardOutput=null
StandardError=syslog
LimitNOFILE=49152

[Install]
WantedBy=multi-user.target
